AWS_REGION=us-east-2
AWS_NODEJS_CONNECTION_REUSE_ENABLED=1
LOG_LEVEL=info
LOG_SERVICE_NAME=atrox-cross-idempotency-api
IDEMPOTENCY_TABLE_NAME=atrox-idempotency
IDEMPOTENCY_REQUEST_ID_HEADER=x-idempotency-key
ENABLE_DEBUG_REQUEST_RESPONSE=false
